<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактирование книги</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getBookId()})}" th:object="${book}">
  <label for="title">Введите новое название книги: </label>
  <input type="text" th:field="*{title}" id="title"/>
  <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
  <br/>

  <label for="author">Введите нового автора: </label>
  <input type="text" th:field="*{author}" id="author"/>
  <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
  <br/>

  <label for="yearOfPublishing">Введите новый год: </label>
  <input type="text" th:field="*{yearOfPublishing}" id="yearOfPublishing"/>
  <div style="color:red" th:if="${#fields.hasErrors('yearOfPublishing')}" th:errors="*{yearOfPublishing}"></div>
  <br/>

  <input type="submit" value="Редактировать!"/>
</form>
</body>
</html>
