<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание новой книги</title>
</head>
<body>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
  <label for="title">Введите название книги: </label>
  <input type="text" th:field="*{title}" id="title"/>
  <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
  <br/>

  <label for="author">Введите автора: </label>
  <input type="text" th:field="*{author}" id="author"/>
  <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
  <br/>

  <label for="yearOfPublishing">Введите год: </label>
  <input type="text" th:field="*{yearOfPublishing}" id="yearOfPublishing"/>
  <div style="color:red" th:if="${#fields.hasErrors('yearOfPublishing')}" th:errors="*{yearOfPublishing}"></div>
  <br/>

  <input type="submit" value="Создать!"/>
</form>
</body>
</html>
